streamlit==1.47.1
torch --pre --index-url https://download.pytorch.org/whl/cu130
diffusers==0.30.3
transformers
opencv-python
real-esrgan
rife-ncnn-vulkan
lama-cleaner
streamlit-drawable-canvas
pydub
ffmpeg-python
huggingface_hub
pynvml
