streamlit
torch --pre --index-url https://download.pytorch.org/whl/cu130
diffusers
transformers
opencv-python
real-esrgan
rife-ncnn-vulkan
lama-cleaner
streamlit-drawable-canvas
pydub
ffmpeg-python
huggingface_hub
pynvml
